<ion-content class="ion-padding">
  <div class="profile-selection">
    <h1>Qui utilise ColocApp ?</h1>
    <div class="profile-grid">
      <div class="profile-button" *ngFor="let profile of profiles" (click)="selectProfile(profile)">
        <div class="profile-image" [style.backgroundImage]="'url(' + profile.image + ')'">
          <ion-icon name="person" *ngIf="!profile.image"></ion-icon>
        </div>
        <span class="profile-name">{{ profile.name }}</span>
      </div>
    </div>
    <ion-button expand="block" (click)="manageProfiles()">
      Gérer les profils
    </ion-button>
  </div>
</ion-content>